In [2]:
from sqlalchemy import Table, create_engine, MetaData, String, Column, Integer, ForeignKey, float
from datetime import datetime as dt


def DB_SQL_connect():
    return create_engine('sqlite:///travel.db', echo = False)
     
def drop():
    with DB_SQL_connect().connect() as connection:
        connection.execute('DROP TABLE IF EXISTS Departure;')
        connection.execute('DROP TABLE IF EXISTS Arrival;')
        connection.execute('DROP TABLE IF EXISTS Airport;')
        connection.execute('DROP TABLE IF EXISTS Airline;')
        connection.execute('DROP TABLE IF EXISTS Aircraft;')
        connection.execute('DROP TABLE IF EXISTS City')
        
        
def creation_tables():
    '''
    Fonction permettant la cr√©ation des tables dans le SQL
    '''
    
    drop()
    
    meta = MetaData()
    CustomerFlightInformationAtDeparture = Table("CustomerFlightInformationAtDeparture", meta, 
            Column('CustomerFlightInformationAtDepartureID', Integer, primary_key=True), 
            Column('Equipement_ID',Integer, ForeignKey("Equipement.Equipement_ID", nullable = False)),
            Column('DepartureID',Integer, ForeignKey("Departure.Departure_ID", nullable = False)),
            Column('MarketingCarrierID',Integer, ForeignKey("OperatingCarrier.OperatingCarrier_ID", nullable = False)),
            Column('ScheduledID',Integer, ForeignKey("Schedule.ScheduleID", nullable = False)),       
            Column('ArrivalID',Integer, ForeignKey("Arrival.ArrivalID", nullable = False)),  
            Column('StatusID',Integer, ForeignKey("Status.StatusID", nullable = False)), 
            Column('EquipementID',Integer, ForeignKey("Equipement.EquipementID", nullable = False)), 
            extend_existing = True)
    

    CustomerFlightInformationAtArrival = Table("CustomerFlightInformationAtArrival", meta, 
            Column('CustomerFlightInformationAtDepartureID', Integer, primary_key=True), 
            Column('Equipement_ID',Integer, ForeignKey("Equipement.Equipement_ID", nullable = False)),
            Column('OperatingCarrier_ID',Integer, ForeignKey("OperatingCarrier.OperatingCarrier_ID", nullable = False)),
            Column('DepartureID',Integer, ForeignKey("Departure.Departure_ID", nullable = False)),
            Column('MarketingCarrierID',Integer, ForeignKey("OperatingCarrier.OperatingCarrier_ID", nullable = False)),
            Column('ScheduledID',Integer, ForeignKey("Schedule.ScheduleID", nullable = False)),       
            Column('ArrivalID',Integer, ForeignKey("Arrival.ArrivalID", nullable = False)),  
            Column('StatusID',Integer, ForeignKey("Status.StatusID", nullable = False)), 
            Column('EquipementID',Integer, ForeignKey("Equipement.EquipementID", nullable = False)), 
            extend_existing = True)
    
    Departure = Table("Departure", meta, 
            Column('DepartureID', String, primary_key=True), 
            Column('EquipementID',Integer, ForeignKey("Equipement.Equipement_ID", nullable = False)),
            Column('ActualID',Integer, ForeignKey("Actual.ActualID", nullable = False)),
            Column('ScheduledID',Integer, ForeignKey("Schedule.ScheduleID", nullable = False)),       
            Column('Terminal_ID',Integer, ForeignKey("Terminal.TerminalID", nullable = False)),
            Column('MarketingCarrier',Integer, ForeignKey("MarketingCarrier.MarketingCarrierID", nullable = False)),  
            extend_existing = True)
    
    Arrival = Table("Arrival", meta, 
            Column('ArrivalID', String, primary_key=True), 
            Column('Equipement_ID',Integer, ForeignKey("Equipement.Equipement_ID", nullable = False)),
            Column('OperatingCarrier_ID',Integer, ForeignKey("OperatingCarrier.OperatingCarrier_ID", nullable = False)),
            Column('Estimated_ID',Integer, ForeignKey("Departure.Departure_ID", nullable = False)),
            Column('Actual_ID',Integer, ForeignKey("OperatingCarrier.OperatingCarrier_ID", nullable = False)),
            Column('ScheduledID',Integer, ForeignKey("Schedule.ScheduleID", nullable = False)),       
            Column('Terminal_ID',Integer, ForeignKey("Arrival.ArrivalID", nullable = False)),  
            extend_existing = True)

    airport = Table("Airport", meta,
            Column('airportCode', String, primary_key = True),
            Column('airportName', String),
            Column('AirportLatitude', Float ),
            Column('AirportLongitude', Float ),
            extend_existing = True)

    airline = Table("Airline", meta,
            Column('airlineCode', String, primary_key = True),
            Column('airlineName', String),
            extend_existing = True)
    
    city =   Table("City", meta,
            Column('cityCode', String, primary_key = True),
            Column('cityName', String),
            Column('cityAirportS', String),
            extend_existing = True)
    
    Aircraft = Table("Aircraft", meta,
            Column('Aircraft_ID', String, primary_key = True),
            Column('AircraftName', String),
            Column('AircraftCode', String),
            extend_existing = True)
    
    MarketingCarrier = Table("MarketingCarrier", meta,
            Column('MarketingCarrier_ID', Integer, primary_key = True),
            Column('AircraftName', String),
            Column('AircraftCode', String),
            extend_existing = True)
    Equipement = Table("Equipement", meta,
            Column('Equipement_ID', Integer, primary_key = True),
            Column('AircraftCode', String),
            extend_existing = True)
    
    Status = Table("Status", meta,
            Column('Status_ID', Integer, primary_key = True),
            Column('Description', String),
            extend_existing = True)
    Terminal = Table("Terminal", meta,
            Column('Terminal_ID', Integer, primary_key = True),
            Column('Name', String),
            Column('Gate', String),
            extend_existing = True)
    meta.create_all(DB_SQL_connect())

In [ ]:
CustomerFlightInformationDeparture_df.to_sql(
    'CustomerFlightInformationDeparture',
    engine,
    if_exists='replace',
    index=False,
    chunksize=500,
    dtype={
        "CustomerFlightInformationAtDepartureID": Integer,
        "Equipement_ID": Integer,
        "OperatingCarrier_ID": String,
        "DepartureID":  Integer,
        "MarketingCarrierID": Integer,
        "ScheduledID": Integer,
        "ArrivalID": Integer,
        "EquipementID": Integer,
    }
)

In [ ]:
CustomerFlightInformationArrival_df.to_sql(
    'CustomerFlightInformationArrival',
    engine,
    if_exists='replace',
    index=False,
    chunksize=500,
    dtype={
        "CustomerFlightInformationAtArrivalID": Integer,
        "Equipement_ID": Integer,
        "OperatingCarrier_ID": String,
        "DepartureID":  Integer,
        "MarketingCarrierID": Integer,
        "ScheduledID": Integer,
        "ArrivalID": Integer,
        "EquipementID": Integer,
    }
)

In [ ]:
Departure_df.to_sql(
    'Departure',
    engine,
    if_exists='replace',
    index=False,
    chunksize=500,
    dtype={
        "DepartureID": Integer,
        "Equipement_ID": Integer,
        "Actual_ID":  Integer,
        "Scheduled_ID": Integer,
        "Terminal_ID": Integer,
        "MarketingCarrierID": Integer,
        "StatusID":Integer,
    }
)

In [ ]:
Arrival_df.to_sql(
    'Arrival',
    engine,
    if_exists='replace',
    index=False,
    chunksize=500,
    dtype={
        "ArrivalID": Integer,
        "Equipement_ID": Integer,
        "Actual_ID":  Integer,
        "Scheduled_ID": Integer,
        "Terminal_ID": Integer,
        "MarketingCarrierID": Integer,
        "StatusID":Integer,
    }
)

In [ ]:
Actual_df.to_sql(
    'Actual',
    engine,
    if_exists='replace',
    index=False,
    chunksize=500,
    dtype={
        "ActualID": Integer,
        "Date": Integer,
        "Time":  Integer,
    }
)

In [ ]:
Status_df.to_sql(
    'Actual',
    engine,
    if_exists='replace',
    index=False,
    chunksize=500,
    dtype={
        "StatusID": Integer,
        "Description": String,
       
    }
)

In [ ]:
Terminal_df.to_sql(
    'Actual',
    engine,
    if_exists='replace',
    index=False,
    chunksize=500,
    dtype={
        "TerminalID": Integer,
        "Name": String,
        "Gate": String,      
    }
)

In [ ]:
Equipement_df.to_sql(
    'Actual',
    engine,
    if_exists='replace',
    index=False,
    chunksize=500,
    dtype={
        "EquipementID": Integer,
        "AircraftCode": String,
   
    }
)

In [ ]:
Aircraft_df.to_sql(
    'Actual',
    engine,
    if_exists='replace',
    index=False,
    chunksize=500,
    dtype={
        "AircraftID": Integer,
        "AircraftName": String,
        "AircraftCode": String,
   
    }
)

In [ ]:
City_df.to_sql(
    'Actual',
    engine,
    if_exists='replace',
    index=False,
    chunksize=500,
    dtype={
        "CityID": Integer,
        "CityCode": String,
        "CityCode": String,
   
    }
)

In [ ]:
Country_df.to_sql(
    'Actual',
    engine,
    if_exists='replace',
    index=False,
    chunksize=500,
    dtype={
        "CountryID": Integer,
        "CountryCode": String,
        "CountryName": String,
   
    }
)